name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    container: python:${{ matrix.python }}

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: quart_db
          POSTGRES_USER: quart_db
          POSTGRES_PASSWORD: quart_db
          POSTGRES_HOST_AUTH_METHOD: "trust"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.13', python: '3.13', tox: py313}
          - {name: '3.12', python: '3.12', tox: py312}
          - {name: '3.11', python: '3.11', tox: py311}
          - {name: '3.10', python: '3.10', tox: py310}
          - {name: '3.9', python: '3.9', tox: py39}
          - {name: 'format', python: '3.13', tox: format}
          - {name: 'mypy', python: '3.13', tox: mypy}
          - {name: 'pep8', python: '3.13', tox: pep8}
          - {name: 'package', python: '3.13', tox: package}
          - {name: 'docs', python: '3.13', tox: docs}

    env:
      DATABASE_URL: "postgresql://quart_db:quart_db@postgres:5432/quart_db"

    steps:
      - uses: actions/checkout@v3

      - name: update pip
        run: |
          pip install -U wheel
          pip install -U setuptools
          python -m pip install -U pip

      - run: pip install tox

      - run: tox -e ${{ matrix.tox }}
